/* GERAL ========================= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: rgb(19, 19, 19);
    --secundary-color: rgb(255, 255, 255);
    --button-color: rgb(49, 49, 49);
    --background-color: rgb(240, 240, 240);

    --pomodoro-red-color: rgb(255, 125, 125);
    --tertiary-color: #ffe5e5;

    --text-color-black: rgb(19, 19, 19);
    --text-color-white: rgb(255, 255, 255);

}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* HEADER ========================= */

header .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--primary-color);
    padding: 0px 15px;
}

header .headerContainer h1 {
    color: white;
}

header .headerContainer h1 i {
    color: var(--background-color);
}

header .headerContainer a {
    text-decoration: none;
    background-color: var(--button-color);
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 15px;
    color: var(--text-color-white);
}

.divTheme {
    background-color: var(--secundary-color);
    color: var(--text-color-black);
    border-radius: 30px;
    padding: 0px 5px;
}

/* MAIN ========================= */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: all 500ms ease-in-out;
    background-color: var(--tertiary-color);
}

main .arc {
    font-size: 30px;
    color: var(--pomodoro-red-color);
    margin-bottom: 20px;
}

.timerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    justify-content: center;
    box-shadow: 0px 5px 10px var(--primary-color);
    background-color: var(--tertiary-color);
    padding: 30px;
    border-radius: 50px;
    transition: all 500ms ease-in-out;
    max-width: 80%;
}

.timerDiv span {
    border: solid 3px var(--pomodoro-red-color);
    color: var(--pomodoro-red-color);
    font-weight: bold;
    font-size: 50px;
    padding: 20px;
    border-radius: 50%;
}

button {
    border: none;
    text-decoration: none;
    background-color: var(--button-color);
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 15px;
    color: var(--text-color-white);
}

.buttonsTimer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}
.buttonsTimer button {
    padding: 10px 40px;
}

#setInput {
    width: 100px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    border: none;
}


/* FOOTER ========================= */

footer {
    background-color: var(--preto);
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    gap: 10px;
    padding: 10px;
    font-size: 10px;
    background-color: var(--primary-color);
    color: var(--secundary-color);
    position: fixed;
    bottom: 0px;
}